*.log
*.pyc
_pycache_
Thermo-API/env
ThermO-PI/ThermO/api/__pycache__
ThermO-API/ThermO/ThermO/__pycache__
ThermO-API/ThermO/api/__pycache__
ThermO-API/ThermO/api/migrations/__pycache__
ThermO-API/ThermO/ThermO/__pycache__
Thermo-API/ThermO/ThermO/settings.py