<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="clipboard"></ion-icon>&nbsp; Schema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="openAddScheduleModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let schedule of scheduleData">
      <ion-label>
        <h2><b>{{ weekdays[schedule.weekday] }}</b></h2>
        <h2>{{ schedule.start }} - {{ schedule.end }}</h2>
        <p>{{ schedule.temperature }} °C</p>
        </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
