<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-menu-toggle><ion-icon name="menu-outline" size="large"></ion-icon></ion-menu-toggle>
      <ion-icon name="thermometer"></ion-icon>&nbsp;Thermostaat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Huidige temperatuur:</ion-label>
        <ion-text><h1>{{currentTemperature}} °C</h1></ion-text>
      </ion-item>

      <ion-item-divider>
        <ion-text class="ion-text-center">Temperatuur instellen</ion-text>
      </ion-item-divider>

      <ion-item>
        <ion-label>Gewenste temperatuur:</ion-label>
        <ion-input name="desiredTemperature" [(ngModel)]="model.desiredTemperature" type="number" class="ion-text-right"></ion-input>
      </ion-item>

      <ion-item>
          <ion-icon slot="start" size="small" name="thermometer" color="secondary"></ion-icon>
          <ion-text slot="start">15 °C</ion-text>
          <ion-icon slot="end" size="small" name="flame" color="danger"></ion-icon>
          <ion-text slot="end">25 °C</ion-text>
          <ion-range min="15" max="25" step="0.5" snaps="true" color="danger" dualKnobs="false" [(ngModel)]="model.desiredTemperature"
          (ionChange)="setTemperature($event)" class="circularSlider"></ion-range>
      </ion-item>

      <ion-item>
        <ion-button size="default" (click)="updateTemperature(model)"><ion-icon name="save"></ion-icon> Opslaan</ion-button>
      </ion-item>
    </ion-list>
</ion-content>