<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-menu-toggle><ion-icon name="menu-outline" size="large"></ion-icon></ion-menu-toggle>
      <ion-icon name="flame"></ion-icon>&nbsp; Ketels
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="openAddBoilerModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let boiler of Boilers" detail="true" (click)="openEditBoilerModal(boiler.id)">
      <ion-label>{{ boiler.name }}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
