<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="flame"></ion-icon>&nbsp; Ketels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="openAddBoilerModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><b>Naam</b></ion-col>
          <ion-col><b>IP Adres</b></ion-col>
          <ion-col size="1"></ion-col>
          <ion-col size="1"></ion-col>
          <ion-item-divider></ion-item-divider>
        </ion-row>
        <ion-row *ngFor="let boiler of Boilers;">
          <ion-col>{{ boiler.name }}</ion-col>
          <ion-col>{{ boiler.boilerAddress }}</ion-col>
          <ion-col size="1"><a (click)="openEditBoilerModal(boiler.id)"><ion-icon name="pencil"></ion-icon></a></ion-col>
          <ion-col size="1"><a (click)="deleteBoiler(boiler.id)"><ion-icon name="trash"></ion-icon></a></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
