<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Ketel bewerken</ion-title>

    <ion-fab horizontal="end" vertical="center">
      <ion-fab-button size="small" color="tertiary" (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    </ion-toolbar>
</ion-header>

<ion-content>

  <p>Bewerk de CV ketel. Specificeer het IP adres van de (Arduino) controller.</p>

<form #addBoilerForm="ngForm" (ngSubmit)="editBoiler(addBoilerForm.value)">

  <ion-list lines="full">
    <ion-item>
      <ion-input name="name" placeholder="Naam" [(ngModel)]="model.name"></ion-input>
      <ion-note>Weergavenaam voor de ketel binnen de applicatie</ion-note>
    </ion-item>
    <ion-item>
      <ion-input name="boilerAddress" placeholder="IP-Adres" [(ngModel)]="model.boilerAddress"></ion-input>
      <ion-note>Het IP-adres van de ketel die bestuurd moet worden</ion-note>
    </ion-item>
  </ion-list>

  <ion-button color="primary" type="submit"><ion-icon name="save"></ion-icon>&nbsp;Opslaan</ion-button>

</form>

</ion-content>
