<ion-header>
  <ion-toolbar color="primary">
    <ion-title><ion-icon name="pencil"></ion-icon>&nbsp; Thermostaat bewerken</ion-title>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="center">
    <ion-fab-button size="small" color="tertiary" (click)="dismissModal()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content>

  <p>Bewerk de thermostaat. Specificeer het IP adres van de (Arduino) sensor.</p>

<form #editThermostatForm="ngForm" (ngSubmit)="editThermostat(editThermostatForm.value)">

  <ion-list lines="full">
    <ion-item>
      <ion-input name="name" placeholder="Naam" [(ngModel)]="model.Name"></ion-input>
      <ion-note>Weergavenaam voor de sensor binnen de applicatie</ion-note>
    </ion-item>
    <ion-item>
      <ion-input name="sensorAddress" placeholder="IP-Adres" [(ngModel)]="model.sensorAddress"></ion-input>
      <ion-note>Het IP-adres van de sensor die uitgelezen moet worden</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Geactiveerd</ion-label>
      <ion-checkbox type="ion-checkbox" slot="start" [checked]="thermostatData?.active" name="active" [(ngModel)]="model.active"></ion-checkbox>
      <ion-note>Wanneer geactiveerd, zal de sensor door het systeem worden uitgelezen</ion-note>
    </ion-item>
  </ion-list>

  <ion-button color="primary" type="submit"><ion-icon name="save"></ion-icon>&nbsp;Opslaan</ion-button>

</form>

</ion-content>
